<h2>最新情報</h2>
<p>最新更新：2011年12月17日 <br> 
コミックマーケット81に委託参加します！<br>
3日目（土）東地区ラ-18bにて、アナテマ・フィジクスのキャラクターデザインを務める<br>市町村さん<a href="http://www.pixiv.net/member.php?id=200337" target="_blank">http://www.pixiv.net/member.php?id=200337</a> <br><br>
3日目（土） 東地区ピ-04aにて、クリーチャーデザインを務める<br>松永闇斎（deskull）さん<a href="http://www.pixiv.net/member.php?id=64626" target="_blank">http://www.pixiv.net/member.php?id=64626</a> 
<br>
<br>
この２ブースにて、「アナテマ・フィジクス」完結版の委託販売を行います。


