<h2>ストーリー</h2>
<p>
大学生の土岐野蒼一（ときのそういち）は、後輩のツンデレ女子高生、洲原奈美（すはらなみ）と一緒に勉強したりするなど平和な日々を送っていた。

しかし、ボクシング部の練習でスパーリングの対戦相手を網膜剥離にさせてしまい、蒼一は心に傷を負う。その後、ボクシング部に顔をだすこともなくなり、心配して家に来た奈美とケンカしてしまう。

ある夏の夜、蒼一はすさまじい規模の火球を目撃し、気を失いかける。
気づいたときには、蒼一は“非ミンコフスキー時空”へと漂着していた。

無人の街で展開される怪物と自衛隊の戦闘に遭遇し、蒼一は圧倒される。
混乱した頭でカーブミラーを見上げると、そこには自衛隊が戦っているのと同じ怪物の姿があった。

自分が“アナテマ”という怪物に変身していたことに驚愕し、途方に暮れる蒼一。
続く戦闘を見つめていた彼は、自衛隊に発見され、敵だと誤解されてしまう。

追い詰められた蒼一を助けたのは、彼同様に非ミンコフスキー時空に漂着していた奈美だった。

もとの世界に帰るため、蒼一は奈美とともに生き残りをかけた戦いに身を投じてゆく。</p>

<h2>シナリオの一部抜粋</h2>
<p>（冒頭部分）

　部屋でふたりきり。今夜は両親はいない。
　そういういかにもな状況で、俺と奈美は机に向かって色っぽいことなどいっさい考えずに真面目に――うん、とてつもなく真面目に勉強していた。
　俺はパンキューの物理化学基礎論Ａのレポート。奈美は模試の世界史の見直し。こいつは高三で受験生だから、大学生の俺が勉強を見てやってるというわけだ。互いにわからないところがあったら教えあう、理想的な美しい関係だ。
　で、こつこつ真剣にシャーペンを動かしてたところ、ふいに奈美が顔を上げた。

「ねえ蒼一、彼女できた？」
　いきなりこれだ。
「……なんでおまえに言わなきゃならんのだ。息子のことが気になってしかたないかーちゃんかおまえは」
「できてないのね」
「……」
「この童貞。むっつりスケベ」
　なんたる言いぐさだ。
「なあ奈美。どうしてそう決めつけるんだよ？　俺だって彼女の一人や二人くらい……」

「ん、いるの？」
「……いないけど」
「ほらやっぱり。蒼一に彼女なんて無理よねー？　くすくすっ……きゃははっ！　蒼一って彼女いない歴イコール年齢なのよね？　あんた二十歳？　あはっ……彼女いない歴二十年ってすごくない？　百年の五分の一を孤独に過ごしてるのよ？　もはや歴史的快挙よこれは……。教科書に載せるべきだわ！　きゃははははっ！　あはははははははははははっ！」
　ひ、ひでえ！　ありがたくも勉強を見てもらってる俺に、こいつはなんてこと言いだすんだ。

「い……いい加減にしろよ！　ちょっとは俺にも敬意を払えよ！　俺はおまえより三つも年上なんだぞ！？」
「払ってるわよ、すでに十分に」
「嘘だっ！　いつでも気が向いたときに勉強を見てもらえる都合のいいお人よしくらいに思ってるんだろきっと！」
「あら、思ってたより正鵠を射た認識をしていたようね。あんたの脳内評価を２０ポイント上げさせてもらうわ。ちなみにさっきまで０．０４ポイントだったのよ」
「どんだけ低い評価だったんだよっ！？」

「低評価でいいじゃない。どうせあんたにはわたしが大学受験で完璧を期すためのサポートくらいしかできることはないんだから。才色兼備で八面玲瓏、あらゆる人から愛される人格者のわたしに尽くすことができるなんて、至上の幸福だと思わない？　ねえ？」
「人格者の言うセリフじゃねえぞそれ」
「あはっ、蒼一ったらひどーい☆」
「ひどいのはてめえだ。恥ずかしげもなく☆を使うんじゃねえっ！　おまえに人気があるのは、いつも人前で猫かぶってるからだろうが」

　こいつは顔“だけ”はかわいい。認めてやる。
　だが性格は見てのとおりだ。真実を知らない高校生どもは、可憐で穏和ななごみ系お嬢様だとでもかつての俺のように思い込んでることだろう。おめでたいやつらだ。夢を抱けてうらやましいぜ。
「あら。わたし猫をかぶってなんかないわよ？　相手に合わせてるだけ。それ相応の人と話をするときは、こっちだって用意するのは当然でしょ？」
「それはつまりこういうことか？　俺は、おまえがいつも他人にしてるみたいに『あら、ごめんあそばせ、うふふ』とか優雅に声をかけながら愛らしく微笑みかけるのに値しない人間だと」
「うん」
「地獄に堕ちろっ……！」

　険悪に見えるけど、いつも俺たちはこんな感じの話ばかりしてる。だからこいつの毒舌にもすでに慣れてるんだ。
　口を動かしながらも関数電卓で計算をこなす。ヘリウムのイオン化エネルギーは……と。
「蒼一、その式まちがってる」
「え？」
「単位がそろってないわよ。エレクトロンボルトが混じってる。ぜんぶジュールに直して」
「お、おお。ありがとう」
　奈美の言うとおりに書き直し、なんとか答えまで辿り着いた。

「あんた、どんな問題解いてんの？　……アトキンス？　それも要論？　アトキンスなんて基礎教養じゃないの。なんで大学生にもなってそんなとこから始めてんのよ？」
「ふつうの大学生はそういうもんなんだ。おまえと一緒にすんな」
　奈美はおっそろしく頭の回転が速いやつで、しかも知識量も並みじゃない。物理・化学・数学の学力は群を抜いていて、国際物理オリンピックの理論部門で日本代表に選ばれ金メダルまでもぎとってきた過去があるほどだ。
　つまりは俺みたいに常識的な人間とはレベルが違う。大学・大学院の参考書をこうまで簡単に解読できる女子高生はこいつくらいのもんだろう。アイビープラスのどっかの大学に進学するとかいう話も耳にしたけど、結局は日本を離れたくないからと立ち消えになった。

「……しかし、おまえもアンバランスな勉強してんなあ……。大学レベルの原子モデルを理解してるのに、なんで世界史は破滅的なんだ？」
「科学史は得意なのよ？　だけど人の名前を暗記するのは苦手なのよね……。無意味なことは嫌いだから」
「無意味なのか」
「うん、無意味。どうせ記憶してもすぐ忘れるじゃん。憶える時間をゴミ箱に捨てて分別・回収・リサイクルしてるようなものね。貴重な時間を奪ってるぶん害悪といっていいと思うわ」
「リサイクルしてるなら無意味じゃないだろ」
「うっさい。無粋なツッコミは無用よ」
「へーいへいわかったよ……」

　ふと時計を見ると、すでに夜の九時。高校生には遅い時間だ。
「奈美、そろそろ帰らないか？」
「うん？　……そうね、それなりに模試の復習は進んだし、帰ろうかしら」
「送ってくよ」
「ん、ありがと」
　申し出を奈美は遠慮なく受け入れ、俺たちは夏の夜のなかに足を踏みだした。</p>
