<h2>制作スタッフ</h2>
<p>
かとりょー：監督・脚本・スクリプト
<br>
市町村：キャラクターデザイン・原画・ペイント
<br>
吟：音楽・サウンドエフェクト
<br>
松永闇斎：クリーチャーデザイン・原画・ペイント

</p>

<br>

<%= link_to 'ひがしのてらこや。のメインスタッフ紹介ページ', 'http://higashinoterakoya.herokuapp.com/staff', :target => '_blank' %>
<p>
<br>
てるてる：クリーチャーデザイン原案
<br>
紅いもたると：キャラクターデザイン協力

<br>
ひょろすけ：ペイント
<br>

<br>

</p>
<p>
</p>
<p>
</p>
