<h2>かつては体験版であった製品版</h2>
<p>

    <a href="http://easternretroschool.web.fc2.com/apindex.html"><img src="http://farm8.staticflickr.com/7091/7180281616_33e6113aa1.jpg" width="468" height="60" alt="anathemabanner1"></a>
    <br>
<%= link_to 'アナテマ・フィジクスのダウンロードページ', 'http://www.melonbooks.com/index.php?main_page=product_info&products_id=IT0000140064', :class => 'btn btn-large', :target => '_blank' %>

</p>
