<h2>ギャラリー</h2>
<p>
<%= link_to image_tag("ev57a.jpg", :class => "gallery", :width => 200 ), image_path("ev57a.jpg"), :class => "gallery" %>
<%= link_to image_tag("tachibanaandyaezaki.png", :class => "gallery", :width => 200 ), image_path("tachibanaandyaezaki.png"), :class => "gallery" %>
<%= link_to image_tag("epiloguenami.jpg", :class => "gallery", :width => 200 ), image_path("epiloguenami.jpg"), :class => "gallery" %>
<%= link_to image_tag("ev57a.jpg", :class => "gallery", :width => 200 ), image_path("ev57a.jpg"), :class => "gallery" %>
</p>
