<html lang="ja">
    <head>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <script type="text/javascript">
            $(function(){
                    $('#baseground').css({backgroundPosition: '0px 0px'});
                    $('#foreground').css({backgroundPosition: '0px 0px'});
                    $('#midground').css({backgroundPosition: '0px 0px'});
                    $('#baseground').animate({backgroundPosition:"(30000px -1000000px)"}, 32000000, 'linear');
                    $('#foreground').animate({backgroundPosition:"(100000px -1000000px)"}, 12000000, 'linear');
                    $('#midground').animate({backgroundPosition:"(50000px -1000000px)"}, 18000000, 'linear');
                    });
                </script>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <meta http-equiv="content-style-type" content="style/css">
                <title>アナテマ・フィジクス</title>
                <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-25653452-1']);
                    _gaq.push(['_trackPageview']);

                    (function() {
                     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                     })();

                 </script>

             </head>



             <body>

                 <div id="encloser">
                     <div align="center">
                         <div id="foreground">
                             <div id="baseground">
                                 <div id="midground">
                                     <h1><a href="/"></a></h1>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <ul id="nav">
                         <li id="story"><a href="/story"><span>ストーリー</span></a></li>
                         <li id="person"><a href="/characters"><span>登場人物</span></a></li>
                         <li id="picture"><a href="/pictures"><span>ギャラリー</span></a></li>
                         <li id="staff"><a href="/staff"><span>スタッフ</span></a></li>
                         <li id="demo"><a href="/demo"><span>体験版</span></a></li>
                         <li id="extra"><a href="/omake"><span>おまけ</span></a></li>
                         <li id="link"><a href="http://higashinoterakoya.herokuapp.com/links" target="_blank"><span>リンク</span></a></li>
                     </ul>
                     <hr>
                     <div id="main">
                         <div id="aside">
                             <ul>
                                 <li>
                                 <strong>
                                     公式ブログ
                                     <br>
                                     <a href="http://anathemaphysics.hatenablog.com/" target="_blank">
                                         「アナテマ・フィジクス制作日誌」
                                     </a>
                                     <br>
                                     <br>
                                 </strong>
                                 <a href="http://anathemaphysics.hatenablog.com/" target="_blank">
                                 </a>
                                 </li>
                                 <li>
                                 アナテマ・フィジクス体験版をこちらのサイトから無料ダウンロードできます。<br>
                                 <a href="http://www.melonbooks.com/index.php?main_page=product_info&amp;products_id=IT0000140064http://www.melonbooks.com/index.php?main_page=product_info&amp;products_id=IT0000140064" target="_blank">
                                 </a>

                                 </li>
                                 <li>
                                 <!-- このタグを +1 ボタンを表示する場所に挿入してください -->
                                 <g:plusone size="tall" annotation="inline" width="250"></g:plusone>

                                 <!-- この render 呼び出しを適切な位置に挿入してください -->
                                 <script type="text/javascript">
                                     window.___gcfg = {lang: 'ja'};
    (function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'https://apis.google.com/js/plusone.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>
    <br>
    <a href="http://b.hatena.ne.jp/entry/http://easternretroschool.web.fc2.com/apindex.html" class="hatena-bookmark-button" data-hatena-bookmark-title="同人ノベルゲーム「アナテマ・フィジクス」" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

    <br>
    </li>


    </ul>




</div><!-aside>

<div id="content">
    <%= yield %>
</div><!-content>
</div><!-main>
</div><!-encloser>

<script>
    $('a.gallery').colorbox({ opacity:0.5 , rel:'group1' });
</script>
</body>
</html>
